.convert-dates {
  position: fixed;
  right: 22px;
  bottom: 62px;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  background: #03A9F4;
  color: #fff;
  cursor: pointer;
}

.convert-dates:hover, .convert-dates:focus {
  background: #2196F3;
}
